@import 'tailwindcss';

@theme {
  --font-sans: 'Poppins', sans-serif;

  --font-cursive: 'Pacifico', cursive;

  /* pokemon types colors */
  --color-type-normal: #a8a77a;
  --color-type-fire: #ee8130;
  --color-type-water: #6390f0;
  --color-type-electric: #f7d02c;
  --color-type-grass: #7ac74c;
  --color-type-ice: #96d9d6;
  --color-type-fighting: #c22e28;
  --color-type-poison: #a33ea1;
  --color-type-ground: #e2bf65;
  --color-type-flying: #a98ff3;
  --color-type-psychic: #f95587;
  --color-type-bug: #a6b91a;
  --color-type-rock: #b6a136;
  --color-type-ghost: #735797;
  --color-type-dragon: #6f35fc;
  --color-type-dark: #705746;
  --color-type-steel: #b7b7ce;
  --color-type-fairy: #d685ad;

  /* animations */
  --animate-popup: popup 0.4s ease-out forwards;

  @keyframes popup {
    0% {
      opacity: 0;
      transform: scale(0.85);
    }

    60% {
      opacity: 1;
      transform: scale(1.05);
    }

    80% {
      transform: scale(0.98);
    }

    100% {
      transform: scale(1);
    }
  }
}
